<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
        <script type="text/javascript"
         src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
         <link rel="stylesheet"
         href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
         <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
 integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
       <style type="text/css">
    body{ 
         background: linear-gradient(to top right, #33ccff 0%, #ff99cc 100%);
    }
    </style>
             
        
        </head>
        <body>
            
             <!-- navbar -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="/home"><i class="fas fa-plus"></i> Covid Help Organization(CHO)</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link " href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/covidStats">Covid-19 Stats</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/precautions">Precautions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/news">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/register">Register</a>
              </li>
            </ul>
            </div>
          </nav>
          <br>



        <!-- navbar -->
        <div class = "container-fluid">
            
    
            <h1>We got your application</h1></div>
        
            </body>
            </html>