<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
        <script type="text/javascript"
         src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
         <link rel="stylesheet"
         href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
         <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">

         <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
 integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
             
        <style type="text/css">
        p{ 
          color:yellow;
        }
 body{ 
         background: linear-gradient(to top left,#ff512f , #dd2476);
         /* background-image:url */
    }
  p{ 
     font-size:19px;
  }
@media (min-width:1079px){  
            .img-thumbnail{ 
              width:100%;
              height:20vw;
          }
          }
          @media (min-width:876px) and  (max-width:1079px){  
            .img-thumbnail{ 
              width:100%;
              height:25vw;
          }
          }
          @media (min-width:767px) and (max-width:876px){  
            .img-thumbnail{ 
              width:100%;
              height:29vw;
          }
          }
          @media (max-width:767px){  
            .img-thumbnail{ 
              width:100%;
              height:50vw;
          }
          }
          .hover01{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.05);
}
/* animation */
.loader {
  
  width: 80px;
  margin: 250px auto;
  opacity: 1;
  transition: 0.5s;
  visibility: visible;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.duo {
  height: 20px;
  width: 50px;
  background: hsla(0, 0%, 0%, 0.0);
  position: absolute;
  
}

.duo, .dot {
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.duo1 {
  left: 0;
}

.duo2 {
  left: 30px
}


.dot {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #333;
  position: absolute;
}

.dot-a {
  left: 0px;  
}

.dot-b {
  right: 0px;
}


@keyframes spin {
    0% { transform: rotate(0deg) }
   50% { transform: rotate(180deg) }
  100% { transform: rotate(180deg) }
}

@keyframes onOff {
    0% { opacity: 0; }
   49% { opacity: 0; }
   50% { opacity: 1; }
  100% { opacity: 1; }
}

.duo1 {
  animation-name: spin;
}

.duo2 {
  animation-name: spin;
  animation-direction: reverse;
}

.duo2 .dot-b {
  animation-name: onOff;
}

.duo1 .dot-a {
  opacity: 0;
  animation-name: onOff;
  animation-direction: reverse;
}
.hidden{
  opacity: 0;
  visibility: hidden;
}
.visibe{ 
    opacity:1;
    visibility: visible;
}
.toShow{ 
              opacity:0;
              visibility:hidden;
          }
          .toHide{ 
            opacity:1;
              visibility:visible;
          }

.news{  
   margin-top:100px;
}
/* animation */
        </style>
        </head>
        <body>
          <div class = "toShow">
            <!-- navbar -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <a class="navbar-brand" href="/home"><i class="fas fa-plus"></i> Covid Help Organization(CHO)</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link " href="home/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/covidStats">Covid-19 Stats</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/precautions">Precautions</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link active" href="/news">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/register">Register</a>
              </li>
            </ul>
            </div>
          </nav>
          <br>
        <!-- navbar -->

        <!-- news -->
        <div class = "container-fluid news">
          <h1>TOP STORIES...</h1>
        <div class = "row">
            <% for(var i =0; i<newsArray.length;i++){  %>
                <% if(newsArray[i].urlToImage == null){ %>
                    <% newsArray[i].urlToImage = "https://health.mo.gov/safety/medical-marijuana/img/dr-and-senior-female.jpg"; %>
                  <% } %>

                 <div class = "col-lg-4 col-md-4 hover01">
                    <a href = "<%= newsArray[i].url %>"><img class = "img-thumbnail" src=" <%= newsArray[i].urlToImage%>" alt="Image Not Available" /></a>
                            <p><%= new Date(newsArray[i].publishedAt).getDate()+" "+ months[new Date(newsArray[i].publishedAt).getMonth()]+" "+new Date(newsArray[i].publishedAt).getFullYear() %></p>
                            <p class = "newsTitle"><%= newsArray[i].title %></p>
                 </div>

            <% } %>

        </div>
    </div>
    </div>
        <!-- news -->


        <div class="loader">
          <div class="duo duo1">
            <div class="dot dot-a"></div>
            <div class="dot dot-b"></div>
          </div>
          <div class="duo duo2">
            <div class="dot dot-a"></div>
            <div class="dot dot-b"></div>
          </div>
        </div>



<script type = "text/javascript">
    setTimeout(()=>{ 
        $(".toShow").removeClass("toShow");
        $(".loader").addClass("toShow"); 



    },3000)
</script>



        </body>
        </html>
