<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>

        <link rel="stylesheet"
         href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
         <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
        <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
        <script type="text/javascript"
         src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
       


<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
 integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
         <style type="text/css">
         .ho{ 
              color:red;
         }
         body{  

             background: linear-gradient(to right ,#ff7e5f , #feb47b);
         }
         .custom{  
             font-size:4.6em;

         }
          .head 
           { 
                border-bottom:2px solid red;
                text-align:center;
                
                font-family: 'Acme', sans-serif;
                margin-top:5%;
           } 
           @media (min-width:1429px){  
               .point{ 
                   margin-left:-2%;
               }
           }
           @media (min-width:1100px) and (max-width:1429px){ 
                
                .point{  
                    margin-left:-0.8%;
                }
           }
           @media  (min-width:998px) and (max-width:1141px){  
               .custom{  
                   font-size:4.5em;
               }
           }
           @media (min-width:921px) and (max-width:998px){  
               .custom{ 
                    font-size:4.2em;
                
               }

           }
           @media(max-width:921px){ 
                .custom{ 
                     font-size:3.8em;
                }
           }
           @media (min-width:667px) and (max-width:833px){  
               .point{  
                   margin-left:3%;
               }
           }
           @media (min-width:612px) and (max-width:667px){  
               .point{  
                   margin-left:4%;
               }
           }
           @media(max-width:612px){  
               .point{ 
                    margin-left:8%;
               }
           }
           .point{  
           font-size:30px; 

           font-family: 'Acme', sans-serif;
           }
</style>
         
    </head>
    <body>
        <!-- navbar -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <a class="navbar-brand" href="/home"><i class="fas fa-plus"></i> Covid Help Organization(CHO)</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link " href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/covidStats">Covid-19 Stats</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/precautions">Precautions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/news">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/register">Register</a>
              </li>
            </ul>
            </div>
          </nav>
          <br>



        <!-- navbar -->


    <div class = "container">
        <h1 class="head">How to Protect Yourself and Prepare for the Coronavirus</h1>
    </div>
    <br/>
    
    <div class = "container-fluid">
        <!-- 1st  -->
      <div class="row no-gutters">
          <div class="col-lg-1 col-md-1 col-sm-1 col-1">
            <i class="fas fa-house-user custom"></i>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-10">
              <br/>
              <h2 class="point">Stay Home If You Can</h2>
          </div>
      </div>
    
    <hr>


      <!-- 2nd -->
      <div class="row no-gutters">
        <div class="col-lg-1 col-md-1 col-sm-1 col-1">

          <i class="fas fa-people-arrows custom"></i>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-10">
            <br/>
            <h2 class="point">Avoid close contact with people who are sick. 
               </h2>
        </div>
    </div>
<hr>
    <!-- 3rd -->
    <div class="row no-gutters">
        <div class="col-lg-1 col-md-1 col-sm-1 col-1">
            <i class="fas fa-head-side-mask custom"></i>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-10">
            <br/>
            <h2 class="point">Cover your cough or sneeze with a tissue, then dispose of the tissue safely.</h2>
        </div>
    </div>
    <hr>

    <!-- 4th -->
    <div class="row no-gutters">
        <div class="col-lg-1 col-md-1 col-sm-1 col-1">
            <i class="fas fa-pump-soap custom"></i>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-10">
            <br/>
            <h2 class="point">Clean and disinfect frequently-touched objects and surfaces.</h2>
        </div>
    </div>
    <hr>
    <!-- 5th   -->
    <div class="row no-gutters">
        <div class="col-lg-1 col-md-1 col-sm-1 col-1">
            <i class="fas fa-hands-wash custom"></i>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-10">
            <br/>
            <h2 class="point">Wash your hands often with soap and water for at least 20 seconds</h2>
        </div>
    </div>
    <hr>
    <!-- 6th -->
    <div class="row no-gutters">
        <div class="col-lg-1 col-md-1 col-sm-1 col-1">
            <i class="fas fa-user-md custom"></i>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-10">
            <br/>
            <h2 class="point">If you have a fever, cough and difficulty breathing, seek medical attention immediately.</h2>
        </div>
    </div>
    <hr>
        </body>
    </html>